    *{
       margin: 0;
       padding: 0;
    }
    
    
    .cabecalho{
        background-color: #30940C;
        color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
}
    .cabecalho-imagem{
        width: 10%;
        height: 10%;
    }
    
    .cabecalho-lista-item{
        display: inline-block;
        margin: 0 16px;
        font-size: 32px;
    }
    .plantasmedicinais-imagem{
        width: 100%;
    }

    .plantasmedicinais{
        background-image: linear-gradient(30940C,C5F4D2);
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .escola-div-conteudo{
        width:35%;

    } 